%h1 List Show

%p
  Subject:
  = @list.subject

%p
  Body:
  = @list.body

%p
  Items:
  - if @list.list_items.present?
    - @list.list_items.each do |list_item|
      = list_item.subject
      %br
      = list_item.body
